/* GRID */

.item-main {
    grid-area: main;
}

.item-sidebar {
    grid-area: sidebar;
}

.item-footer {
    grid-area: footer;
}

#progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px; /* Adjust height as needed */
    background-color: #000000;
    z-index: 9999; /* Ensure it's above other content */
    display: block;
  }
  
#progress-bar {
    height: 100%;
    background-color: #1a1efa88; /* Adjust color as needed */
    width: 0%;
}
  
.container {
    display: grid;
    /*grid-template-columns: 270px auto;*/
    /*grid-template-columns: 400px auto;*/
    grid-template-columns: 35% 65%;
    grid-template-rows: auto;
    grid-template-areas:
        "sidebar main"
        "footer footer";
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000ef;
    max-width: 100%;
    overflow-x: hidden;
    background-image: url("circuit.jpg");
    background-size: cover;
}
  
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
  
header h1 {
    margin: 0;
    align-self: center;
}
  
header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
header nav a {
    color: #fff;
    display: block;
    padding: 1em;
    text-decoration: none;
}
  
/* ASIDE */

aside {
    height: 100%;
    width: 321px;
    position: fixed;
    top: 0;
    /*left: 30%;*/
    right: 65%;
    /* background-color: #f9d202; */
    /*background-image: url("board2.jpg");
    background-size: 1100px;*/
    animation: slideInFromTop 1s ease forwards;
    animation-delay: 0.5s;
    opacity : 0;
}

#board {
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    margin-left: 1em;
    /* margin-right: 2em; */
}

#darklight {
    position: fixed;
    display: block;
    margin: 5px;
    padding: 8px;
    width: 35px;
    z-index: 999;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.9));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    bottom: 15px;
    right: 15px;
    animation: slideInFromRight 1s ease forwards;
    animation-delay: 0.5s;
}

#subtitle {
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
}

#headshot {
    object-position: center;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    /* margin-bottom: 1em; */
}

aside h1, aside h2, aside h3, aside h4 {
    text-align: center;
    color: white;
    /* text-shadow: 1px 1px white; */
}

#board p {
    color: white;
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
    text-indent: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

aside nav h4 {
    margin-bottom: -0.8em;
}

aside nav li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block; float: none;
    text-align: center;
    color: white;
    display: inline;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

aside nav ul{
    padding: 0;
    text-align: center;
    margin-bottom: 5px;
}

#board button {
    background-color: black;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#dla {
    text-align: center;
    display: block;
    color: white;
    border-radius: 5px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    width: 120px;
    font-size: 13px;
}

aside nav a {
    text-decoration: none;
    color: white;
}

/* MAIN */

main {
    padding: 1em;
    /* padding-bottom: 1em; */
    /* padding-top: 1em; */
    max-width: 650px;
}

/* SECTION */
  
section {
    /*background-color: rgba(0, 0, 0, 0.9);*/
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.6));
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin-bottom: 1em;
    opacity: 0;
    animation: slideInFromRight 1s ease forwards;
    animation-delay: 0.5s;
}

section h2 {
    margin-top: 0em;
}

#projects a {
    text-decoration: none; 
    color: inherit;
}

#demo {
    margin-left: 20;
    margin-right: 20%;
    width: 60%;
}

#languages {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "programming langs";
}
  
footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

/* FOOTER */

footer {
    display: none;
}

/* LIGHT MODE STYLES */

#progress-container.light {
    background-color: #ffffff;
}

body.light {
    background-color: #ffffff;
}

header.light {
    background-color: #ffffff;
    color: #000000;
}

header nav a.light {
    color: #000000;
}

#board.light {
    background-color: #ffffff;
}

#darklight.light {
    background-color: #ffffff;
}

#board p.light {
    color: #000000;
}

aside nav li.light {
    color: #000000;
}

#board button.light {
    background-color: #ffffff;
}

#dla.light {
    color: #000000;
    border: 2px solid #000000;
}

aside nav a.light {
    color: #000000;
}

section.light {
    background-color: #ffffff;
    color: #000000;
}

/* ----  ANIMATIONS  ---- */
  
/* Define animation for sliding in from the right */
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0; /* Start with opacity 0 */
    }
    100% {
        transform: translateX(0);
        opacity: 1; /* End with opacity 1 */
    }
}


/* Define animation for sliding in from the top */
@keyframes slideInFromTop {
    0% { transform: translateY(-100%);
        opacity: 0; /* Start with opacity 0 */
    }
    100% { transform: translateY(0);
        opacity: 1; /* End with opacity 1 */}
}

/* ----  MEDIA  ---- */

/* HORIZONTAL < 950px */

@media only screen and (min-width: 768px) and (max-width: 950px){

    .container {

        grid-template-columns: 270px auto;

    }

    aside {
        height: 100%;
        width: 270px;
        position: fixed;
        top: 0;
        left: 0
    }
}

/* MOBILE */

@media only screen and (max-width: 768px) {

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "sidebar"
            "main"
            "footer";
    }

    body {
        background-size: 1900px;
    }

    aside {
        position: static;
        height: auto;
        width: auto;
        animation: none;
        opacity: 1;
    }

    #board {
        margin: 1em;
        margin-bottom: 0;
        
        background-color:rgba(0, 0, 0, 0);
        background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.6));

    }

    #board p {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    #board #dla {
        margin-left: auto;
        margin-right: auto;
    }

    #headshot {
        width: 110px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }

    #subtitle {
        display: none;
    }

    section {
        animation : none;
        opacity: 1;
    }

}

